/*#mainHeading{
    color: darkblue
}

.subHeading{
    color: coral;
}

body{
    padding: 20px;
		font-family: sans-serif;
    font-weight: 100	
}
*/

p {
    font-weight: 100
}

body{
  padding: 20px;
	font-family: sans-serif;
}


/*#mainHeading{
    color: darkblue
}

.subHeading{
    color: coral;
}

p {
    font-family: sans-serif;
    font-weight: 100
}

body{
    padding: 20px;
}*/